In [3]:
import pickle

sc=pickle.load(open('FWI_scaler.pkl','rb'))
model=pickle.load(open('FWI_model.pkl','rb'))

In [22]:
Unknown_data = {
    'day':[1,2,3],
    'month':[3,4,5], 
    'Temperature':[29,30,33], 
    'RH':[57,88,65], 
    'Ws':[18,10,12], 
    'Rain':[0,0.8,5.2], 
    'FFMC':[65.7,50,89.1], 
    'ISI':[1.3,2.5,9.1], 
    'BUI':[3.4,10.5,15.0], 
    'Region':[0,1,1], 
    'Classes_not fire':[0,1,0]
}

In [23]:
import pandas as pd
df1= pd.DataFrame(Unknown_data)

In [24]:
df1

,day,month,Temperature,RH,Ws,Rain,FFMC,ISI,BUI,Region,Classes_not fire
0,1,3,29,57,18,0.0,65.7,1.3,3.4,0,0
1,2,4,30,88,10,0.8,50.0,2.5,10.5,1,1
2,3,5,33,65,12,5.2,89.1,9.1,15.0,1,0

In [25]:
sc_df1=sc.transform(df1)

In [26]:
sc_df1

array([[-1.68219429e+00, -4.09773545e+00, -8.75632020e-01,
        -3.20515274e-01,  9.05527314e-01, -3.80155725e-01,
        -8.80281493e-01, -8.42765277e-01, -9.27446939e-01,
        -1.01036297e+00, -8.73862898e-01],
       [-1.56927191e+00, -3.18816946e+00, -6.01201306e-01,
         1.74770239e+00, -2.13641726e+00,  3.95995547e-03,
        -1.99497046e+00, -5.65103578e-01, -4.55482771e-01,
         9.89743319e-01,  1.14434427e+00],
       [-1.45634952e+00, -2.27860347e+00,  2.22090835e-01,
         2.13218316e-01, -1.37593111e+00,  2.11659620e+00,
         7.81102062e-01,  9.62035766e-01, -1.56350552e-01,
         9.89743319e-01, -8.73862898e-01]])

In [27]:
model.predict(sc_df1)

array([ 0.56579677,  4.03577298, 11.3478902 ])